NGI_EMAIL=
NGI_PASSWORD=
NGI_ENDPOINT=
TELEGRAM_BOT_GAS_NOTIFIER_TOKEN=
TELEGRAM_BOT_MERCADOS_LUX_TOKEN=
TELEGRAM_GROUP_CHAT_ID=
TELEGRAM_CHAT_ID=
## REA credentials
MAU_CREDENTIALS_PASSWORD=
MAU_USERNAME=
MAU_PASSWORD=
